page-publicaciones-proveedor {
    .texto{
        text-align: center;
    }

    .carta{
        padding-top: 15px;
        padding-right: 5px;
        padding-bottom: 15px;
        padding-left: 5px;
        }

    .btn{
        text-align: end;
    }

    #h2{
        margin-top: 30px;
        text-align: center;
    }

    .img {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
     }
}
