page-citas-provedor {

    #sacarCita{
        text-align: end;
    }


    ion-fab{
        bottom:3em;
        right:1.5em;
    
    button{
        background-color:#34AF23 !important;
        font-size:2.5em !important;
      }
     }

    // .accordion-list {
    //     background: color($colors, light);
    //     height: 100%;
    // }
    // .section {
    //     background: #fff;
    //     color: #000;
    //     margin-bottom: 4px;
    // }
    // .section-active {
    //     background: #00AEEF;
    //     color: #fff;
    // }
 
    // .child {
    //     background: #e8e7e6;
    //     color: #000;
    //     margin-bottom: 4px;
    // }
    // .child-item {
    //     background: #f3f2f1;
    //     padding: 10px;
    // }
    // .label {
    //     margin: 0px;
    // }
    // .list {
    //     margin-bottom: 4px;
    // }
    // .medio{
    //     margin-top: 20px;
    //     margin-bottom: 20px;
    // }
    .h1{
        text-align: center;
    }
}
