page-registro {
    text-align: center;
    .imgs{
    
    padding-top: 10px;
    padding-right: 75px;
    padding-bottom: 10px;
    padding-left: 75px;
    }

    .txt{
        text-align: center;
        color:#07A9DF;
    }
    .contenido{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .list-ios > .item-block:first-child{
        border:none;   
      }
  
      .list-ios .item-block .item-inner{
          border: none;
      }
  
      .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block
      {
          border: none;
      }
}
